.row__posters {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__posters img {
    width: 200px;
    height: 150px;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms, opacity 450ms;
}

.row__posters img:hover {
    transform: scale(1.08);
    opacity: 1;
}
